.wrapper{
    display: grid;
}


.img{
    grid-area: 1/1;
    transition: .2s;
}
.skeleton{  
    grid-area: 1/1;
    height: 100% ;
    /* //aqui se faz o degrade do background */
    background-image: linear-gradient(90deg, #eee 0px, #fff 50%, #eee 1000%);
    background-color: #eee;
    background-size: 200%; 
    /* ele tem que ser maior que o tamanho normal */
    animation: skeleton 1.5s infinite linear;
}

@keyframes skeleton {
    from{
        background-position: 0px;
    }
    to{
        background-position: -200%;
    }
}