.form{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: stretch;
    margin: 16px;
}

.textarea{
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    font-family: var(--type-first);
    resize: none;
    border: 1px solid  #eee;
    padding: 6px;
    border-radius: 5px;
    background: #eee ;
    transition: 0.2S;
}

.textarea:focus,
.textarea:hover{
    outline: none;
    border-color: #fb1;
    background-color: white;
    box-shadow: 0 0 0 3px #fea;
}

.button{
    border: none;
    cursor: pointer;
    color: #333;
    background: transparent;
    font-size: 16px;
    padding: 0 16px;
    overflow: hidden;
}
.button:focus,
.button:hover {
    outline: none;
}

.button:focus svg path,
.button:hover svg path{
    fill: #fea;
    stroke:#fb1;
}

.button:focus svg g,
.button:hover svg g{
    animation: latir .6s infinite ;
}

@keyframes latir{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}