.feed{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    margin-bottom: 16px;
    justify-items: center;
}


@media (max-width: 640px){
    .feed{
    grid-template-columns: repeat(2, 1fr); 
}

}