.photo:nth-child(2){
    grid-column: 2/4;/*faz com que ele ocupe da segunda a quarta coluna*/
    grid-row: span 2; /* e espanda dois para baixo, formando assim um quadrado*/
}

@media (max-width: 640px){
    .photo:nth-child(2){
        grid-column: initial;
        grid-row: initial ;
    }
}

.photo{
    display: grid;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}


.photo > div{
    grid-area: 1/1;/*digo que os itens fiquem na mesma area de grid*/
}

.modal{
    background: rgba(0,0,0,0.3);
    color: white;
    font-size: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-area: 1/1;/*digo que os itens fiquem na mesma area de grid*/
    display: none;
}

.modal::before{
    width: 16px;
    height: 10px;
    content: '';
    display: inline-block;
    margin-right: 5px;
    background: url('../../Assets/visualizacao.svg') no-repeat;

}
.photo:hover .modal{
    display: flex;
}