.nav{
    display: flex;
    gap: 20px;
    justify-content: end;
    
}

.nav a, 
.nav button,
.mobileButton{
    background: #eeee;
    border-radius: 4px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: .1s;
    cursor: pointer;
}

.nav a:hover, 
.nav button:hover,
.nav a:focus, 
.nav button:focus{
    background-color: white;
    box-shadow: 0 0 0 3px #eee;
    border-color: #333;
    outline: none;
}


.nav a:global(.active){
    background: white;
    box-shadow: 0 0 0 3px #fea;
    border-color: #fb1;
}

.nav  a:global(.active) svg > *{
    fill: #fb1;
}


.mobileButton{
   padding: 0px;
}

.mobileButton::after{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    border-radius: 2px;
    box-shadow: 0 6px currentColor, 0 -6px currentColor;
    transition: .2s;
}

.mobileButton:focus,
.mobileButton:hover,
.mobileButtonActive
{
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
  color: #fb1;
}


.mobileButtonActive::after{
    transform: rotate(90deg);
    width: 4px;
    height: 4px;
    box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.navMobile{
    display: block;
    position: absolute;
    top: 70px;
    right: 0px;
    padding: 0 16px;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border-radius: 4px;
    transform: translateX(-10px);
    opacity:0;
    pointer-events: none;
}
.navMobileActive{
    transition: .3s;
    transform: initial;
    opacity: 1;
    z-index: 100;
    pointer-events: initial;
}

.navMobile a,
.navMobile button{
    display: flex;
    align-items: center;
    background: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #eeee ;
    padding: 8px 0;
    cursor: pointer;
}

.navMobile button{
    border-bottom: none;
}
.navMobile svg{
    margin-right: 8px;
}

.navMobile a:hover svg > *,
.navMobile button:hover svg > *{
    fill: #fb1;
}