.graph{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-bottom: 32px;
}

.graphItem{
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    border-radius: 5px;
    display: grid;
    align-items: center;
}

.total{
    grid-column: 1/3;
    padding: 32px;
    font-size: 32px;
}

@media (max-width: 640px){
    .graph{
        grid-template-columns: 1fr;
    }
    .total{
        grid-column: 1 ;
    }
}
