.button{
    font-size: 16px;
    font-family: var(--type-first);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #fb1;
    color: #764701;
    padding: 13px 20px;
    box-sizing: border-box;
    transition: 0.1s;
    min-width: 128px;
}

.button:hover,
.button:focus{
    /*tira o efeito de foco azul*/
    outline: none;
    box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;/*o segundo cria tipo um borda em cima da outra sombra*/
}

.button:disabled{
    opacity: 0.5;
    cursor: wait;
}