*{
    box-sizing: border-box;
}

/*para que os elementos sempre fiquem
 abaixo do header coloque o tamanho do
  header como padding no body
*/
body{
    padding-top: 64px;
    margin: 0;
    color: #333;
    --type-first: Helvetica, Arial, sans-serif;
    --type-second: 'Spectral', georgia;
     font-family: var(--type-first);
}

h1,h2,h3,h4,p{
    margin: 0;
}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
}

button, input{
    display: block;
    font-size: 16px ;
    color: #333 ;
    font-family: var(--type-first);
}

.container{
    max-width: 1200px ;
    padding: 0 16px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #333;
}

.animeLeft{
    opacity: 0;
    transform: translate3d(-20px);
    animation: animeLeft .3s forwards;
}

@keyframes animeLeft{
    to{
        opacity: 1;
        transform: initial;
    }
}

.title{
    font-family: var(--type-second);
    line-height: 1;
    font-size: 48px;
    margin: 16px 0;
    position: relative;
    z-index: 1;
}

.title::after{
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-color: #fb1;
    position: absolute;
    bottom: 1px;
    left: -5px;
    border-radius: 5px;
    z-index: -1;
}


.main-container{
    margin-top: 32px;
}

.App{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh + 160px);
}

.AppBody{
    flex: 1;
}

.VictoryContainer{
    height: initial !important;
}