.Header{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 8px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: white;
    top: 0;
    height: 64px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 8px 0;
}


.login{
    color: #333;
    display: flex;
    align-items: center;
}

.login::after{
    content: "";
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url('../Assets/usuario.svg') no-repeat center center;
    margin-left: 8px;

}